*{

    margin: 0%;
}
.keys{
    border: solid;
    display: grid;
    width: 25%;
    grid: 10% / auto auto auto auto;
    grid-gap: 0;
    margin: 0 0 0 1%;
}
.keys button{
    text-align: center;
    padding: 30% 0;
    font-size: 25px;
}

.eq_clr{
    border: solid;
    display: grid;
    width: 25%;
    grid: 10% / auto auto;
    grid-gap: 0;
    margin: 0 0 0 1%;
}

.eq_clr button{
    text-align: center;
    padding: 10% 0;
    font-size: 20px;
}

section form{
    width: 25%;
    margin: 1% 0 0 1%;
}
section form input{
    border: solid #333333;
    width: 100%;
    height: 65px;
    font-family: 'Consolas', sans-serif;
    font-size: 30px;
    background-color: #333333;
    color: white;
}

@media screen and (max-width: 610px) {
    *{

        margin: 0%;
    }
    .keys{
        border: solid;
        display: grid;
        width: 100%;
        grid: 10% / auto auto auto auto;
        grid-gap: 0;

    }
    .keys button{
        text-align: center;
        padding: 30% 0;
        font-size: 25px;
    }

    .eq_clr{
        border: solid;
        display: grid;
        width: 100%;
        grid: 10% / auto auto;
        grid-gap: 0;

    }

    .eq_clr button{
        text-align: center;
        padding: 10% 0;
        font-size: 20px;
    }

    section form{
        width: 100%;

    }
    section form input{
        border: solid #333333;
        width: 100%;
        height: 165px;
        font-family: 'Consolas', sans-serif;
        font-size: 30px;
        background-color: #333333;
        color: white;
    }


}